body, main, figure, figcaption, img {
  margin: 0;
  padding: 0;
}

main {
  font-size: 0;
}

body {
  background-image: url(https://images.unsplash.com/photo-1566305977571-5666677c6e98?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=597&q=80);
  background-size: cover;
}

figure {
  box-sizing: border-box;
  margin: 50px 0;
  padding: 0 50px;
  width: 50%;
  display: inline-block;
}

figcaption {
  text-align: center;
  font-size: 1rem;
}

img {
  width: 100%;
}